<div class="row projects">
	<div class="col-md-4 project-item">
		<h3>
			<a href ="https://github.com/FareedJaved/BandsInTown">
			<strong>Bands In Town</strong>
			</a>
		</h3>
    <hr />
    <span>
			An application written using Node.js which makes use of the BandsInTown Api to see if Chance The Rapper will be performing near me. The application also uses the Twilio Api to send a notification to me as well.
    </span>
	</div>
	<p style="line-height: 30px"></p>
	<div class="col-md-4 project-item">
	   	<h3>
	    	<a href="https://github.com/FareedJaved/EarthQuake-Map">
	    	<strong>EarthQuake Map</strong>
	    	</a>
	    </h3>
			<hr />
			<span>Project from a Coursera class sponsored by the University of California, San Diego.
			Learned event driven and Object Oriented Programming while creating a interactive map that visualizes earthquakes world wide.
			</span>
	</div>
	<p style="line-height: 30px"></p>
	<div class="col-md-4 project-item">
		<h3>
			<a href="https://github.com/PrinceGeorgesTech/no-on-question-d">
				<strong>No On Question D</strong>
			</a>
		</h3>
        <hr />
        <span>Worked with Progressive Maryland to develop a website that increased awareness for a ballot question that was voted on during the 2016 election.</span>
	</div>
 </div>
