<div class="row projects">
	<div class="col-md-4 project-item">
		<h3>
			<a href ="https://github.com/FareedJaved/BandsInTown"> 
			Bands In Town  
			</a>
		</h3>
        <hr />
        <span>An application written with Node js which utilizes the BandsInTown Api to see if a specific artist will be performing near the user. The application also uses the Twilio Api to send a notification to the user as well.
        </span>
	</div>
	<p style="line-height: 30px"></p>
	<div class="col-md-4 project-item">
	   	<h3>
	    	<a href="https://github.com/FareedJaved/EarthQuake-Map">
	    	EarthQuake Map
	    	</a>
	    </h3>
		<hr />
			<span>Project from a class on Coursera.com sponsored by the University of California, San Diego. 
			Learned event driven and Object Oriented Programming while creating a interactive map that visualizes earthquakes world wide. 
			</span>
	</div>
	<p style="line-height: 30px"></p>
	<div class="col-md-4 project-item">
		<h3>
			<a href="https://github.com/PrinceGeorgesTech/no-on-question-d">
			No on Question D
			</a>
		</h3>
        <hr />
        <span>Worked with Progressive Maryland to develop a website that increased awareness for a ballot question that was voted on during the 2016 election.</span>
	</div>
 </div>	
